# dependencies
node_modules

# testing
coverage
**/jest-coverage

# misc
.DS_Store

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# turbo
.turbo

# tsup
dist
bin

# eslint
**/.eslintcache

# storybook
storybook-static

# changesets
tag-packages.json

# Idea
.idea
